{% extends "main.html" %}

{% block body %}

<h2>{{ event.title }}</h2>

<div id="video">
  <video src="{{ event.stream }}" autoplay="autoplay" preload="auto" controls="controls">
    Necesitas un navegador con soporte para html5, como Firefox.
  </video>

<div id="comments">
  <form>
    <textarea id="comment-input"></textarea><br />
    <input type="button" value="Send" id="add-comment" />
  </form>

  <ul>
  {% for comment in event.comments %}
    <li>
      <p>{{ comment["published"] }} - {{ comment["author"]|safe }}</p>
      <p>{{ comment["text"]|safe }}</p>
    </li>
 {% endfor %}
  </ul>
</div>
</div>

<div id="intro">
  <p>{{ event.intro|safe }}</p>
</div>

<script type="text/javascript">
    $( function () {
      function addComment(msg) {
        var published = new Date(msg.payload.published) ;
        time = [ published.getHours(), published.getMinutes(), published.getSeconds() ].join(':')
        $('<li><p>' + time + " - " + msg.user + '</p><p>' + 
        msg.payload.text + '</p></li>').addClass("fading").prependTo(
        '#comments ul').hide().fadeIn('fast', function () { 
        $("li.fading").removeClass("fading"); })
      }

      $('#add-comment').click(function(e) {
        var commentInput = $('#comment-input');
        var published = new Date;
        comment = {"published": published, "text": commentInput.val()};
        conn.publish('{{ event.id }}', comment);
        commentInput.val('');
        $('#comment-input').focus();
        return false;
      });

      // connect to the hookbox server
      conn = hookbox.connect('http://10.0.0.3:8001/');

      // listen for new messages
      conn.onSubscribed = function(channel_name, subscription) {
        subscription.onPublish = function(frame) {
          addComment(frame);
        };
      }

      // subscribe to this event's channel
      conn.subscribe('{{ event.id }}');
    });
</script>
 
{% endblock %}
