{% extends "main.html" %}

{% block body %}

<h2>{{ event.title }}</h2>

<div id="video">
  <video src="http://192.168.0.3:8800/video/" autoplay="autoplay" preload="auto" controls="controls">
    Necesitas un navegador con soporte para html5, como Firefox.
  </video>

<div id="comments">
  {% if g.user %}
  {{ g.user }}
  <form>
    <textarea id="comment-input"></textarea><br />
    <input type="button" value="Send" id="add-comment" />
  </form>
  {% endif %}
  <ul>
  {% for comment in event.comments_by_date() %}
    <li>
      <p>{{ comment["published"].strip("Z").replace("T", " ") }} - {{ comment["author"]|safe }}</p>
      <p>{{ comment["text"]|safe }}</p>
    </li>
 {% endfor %}
  </ul>
</div>
</div>

<div id="intro">
  <p>{{ event.intro|safe }}</p>
  <hr />
  {% if not g.user %}
  <form action="/login" method=post>
    {% if error %}<p class=error><strong>Error:</strong> {{ error }}</p>{% endif %}
      <input type=hidden name=openid value="https://www.google.com/accounts/o8/id">
      <input type=hidden name=next value="{{ next }}">
      <input type=submit class=openid value="Login with Google">
  </form>
   
  {% else %}
  <a href="{{ url_for('logout') }}">Logout</a>
  {% endif %}
</div>

<script type="text/javascript">
    $( function () {
      function addComment(msg) {
        var published = new Date(msg.payload.published) ;
        time = [ published.getHours(), published.getMinutes(), published.getSeconds() ].join(':')
        $('<li><p>' + time + " - " + msg.user + '</p><p>' + 
        msg.payload.text + '</p></li>').addClass("fading").prependTo(
        '#comments ul').hide().fadeIn('fast', function () { 
        $("li.fading").removeClass("fading"); })
      }

      $('#add-comment').click(function(e) {
        var commentInput = $('#comment-input');
        var published = new Date;
        comment = {"published": published, "text": commentInput.val()};
        conn.publish('{{ event.id }}', comment);
        commentInput.val('');
        $('#comment-input').focus();
        return false;
      });

      // connect to the hookbox server
      conn = hookbox.connect('http://127.0.0.1:8001/');

      // listen for new messages
      conn.onSubscribed = function(channel_name, subscription) {
        subscription.onPublish = function(frame) {
          addComment(frame);
        };
      }

      // subscribe to this event's channel
      conn.subscribe('{{ event.id }}');
    });
</script>
 
{% endblock %}
