{% extends "main.html" %}

{% block body %}

<h2>Crear Evento</h2>

<form action="{{ url_for('event', year=year, month=month, day=day, title=title) }}" method="post">
  <div id="accordion">
    <h3><a href="#">Evento</a></h3>
    <div>
      <div style="width: 45%; float: left">
	<label for="title">Titulo</label><br />
	<input class="wide" type="text" value="{{ title }}" name="title" id="title" /><br />
 	<label for="author">Creado por</label><br />
	<input type="text" id="author" name="author" /><br />
      </div>
      <div>
	<label for="intro">Descripcion</label><br />
	<textarea id="intro" name="intro"></textarea><br />
      </div>
   </div>
    <h3><a href="#">Fechas</a></h3>
    <div>
      <div style="float: left; width: 45%">
	<label for="datetime_start">Fecha y hora de inicio</label><br />
	<input class ="time" type="text" name="datetime_start" id="datetime_start" value="{{ '/'.join([day, month, year]) }}" /><br />
      </div>
      <div>
	<label for="datetime_end">Fecha y hora de finalizacion</label><br />
	<input class="time" type="text" name="datetime_end" id="datetime_end" value="{{ '/'.join([day, month, year]) }}" /><br />
      </div>
    </div>
    <h3><a href="#">Video</a></h3>
    <div>
        <label for="stream">Url del Video</label><br />
        <input class="wide" type="text" name="stream" id="stream" 
            value="http://ns.oac.uncor.edu:8000/apt.ogg" /><br />
    </div>
    <h3><a href="#">Links</a></h3>
    <div> 
      <div style="float: left; width: 45%">
        <label_for="rel_link1">Link relacionado #1</label><br />
        <input class="wide" type="text" name="rel_link1" /><br />
        <label_for="rel_link2">Link relacionado #2</label><br />
        <input class="wide" type="text" name="rel_link2" /><br />
        <label_for="rel_link3">Link relacionado #3</label><br />
        <input class="wide" type="text" name="rel_link3" /><br />
        <label_for="rel_link4">Link relacionado #4</label><br />
        <input class="wide" type="text" name="rel_link4" />
      </div>
      <div style="float: left; width: 55%">
        <label_for="desc_link1">Descripción #1</label><br />
        <input class="wide" type="text" name="desc_link1" /><br />
        <label_for="desc_link2">Descripción #2</label><br />
        <input class="wide" type="text" name="desc_link2" /><br />
        <label_for="desc_link3">Descripción #3</label><br />
        <input class="wide" type="text" name="desc_link3" /><br />
        <label_for="desc_link4">Descripción #4</label><br />
        <input class="wide" type="text" name="desc_link4" />
      </div>
    </div>
  </div>
  <div id="button" style="margin: 20px 0px">
    <input type="submit" value="Guardar" />
  </div>
</form>

<script type="text/javascript">
  $("#accordion").accordion();
  $("input:submit").button();
  $.datepicker.setDefaults($.datepicker.regional["es"]);
  $.datepicker.formatDate("dd-mm-yyyy");
  $('.time').datetimepicker({
  	regional: 'es'
  });
</script>

{% endblock %}
